
ul.trips li {
	list-style: none;
	display: block;
	float: left;
}
.tripCard {
	display: block;
	width: 250px;
	height: 120px;
	padding: 15px;
	position: relative;
	color: #333;
}
.tripCard:hover{
	text-decoration: none;
	background: #EDF;
	color: #444;
	border-bottom: 3px solid #c5c5c5!important;

}
.cardTitle{
	font-size: 18pt;
}
.cardInfo{
	position: absolute;
	bottom: 15px;
}