
.header {
	background: url(/background.jpg) #ccc;
	background-size: cover;
	height: 130px;
	color: #eee;
}
.backbtn a {
	display: inline-block;
	color: #ddd;
	background: rgba(50,50,50,0.3);
	padding: 5px;
}
.backbtn a:hover {
	color: #eee;
	background: rgba(50,50,50,0.7);
	text-decoration: none;
}
#addForm {
	padding: 0;
}
#addForm > div {
	padding: 8px 10px;
}
.owersList {
	cursor: pointer;
}
.owersList:hover {
	background: #EEF;
}
.editform {
	display: none;
}

@media (max-width: 768px) {
	.expenseTable thead {
		display: none;
	}
	.expenseTable tbody tr{
		display: block;
		margin-bottom: 5px;
		border-bottom: 1px solid #dddddd;
	}
	.expenseTable tbody td{
		padding: 1px 0;
		border: 0;
	}
	.expenseTable tbody td:nth-child(1){
		display: block;
		font-size: 18pt;
	}
	.expenseTable tbody td:nth-child(2){
		display: block;
	}
	.expenseTable tbody td:nth-child(2)::before{ 
		content:"Paid By: ";
		font-weight: bold;
		color: #777;
	}
	.expenseTable tbody td:nth-child(3){
		display: block;
	}
	.expenseTable tbody td:nth-child(3) div{
		margin-left: 10px;
	}
	.expenseTable tbody td:nth-child(3)::before{
		content:"Splitting Between: ";
		font-weight: bold;
		color: #777;
	}
	.expenseTable tbody td:nth-child(4){
		display: block;
	}
	.expenseTable tbody td:nth-child(4)::before{
		content:"Note: ";
		font-weight: bold;
		color: #777;
	}
	.expenseTable tbody td:nth-child(5){
		display: block;
	}
	.expenseTable tbody td:nth-child(5) i::after{
		content:"Delete";
		color: #333;
		padding-left: 16px;
		font-style: normal;
	}
}

