<template name="addForm">
	<div class="row-fluid well" id="addForm">
		<div class="span4">
			<div class="input-prepend">
				<span class="add-on">$</span>
				<input type="number" step="0.01" placeholder="Ammount" id="ammountField" />
			</div>
			<br />
			<textarea id="noteField" placeholder="Note" ></textarea><br />
			<button id="addbtn" type="button" class="btn btn-primary">Add Expense</button>
		</div>
		<div class="span4 form-inline" id="paidField">
			<h4>Paid by</h4>
			{{#each users}}
				<label>
					<input type="radio" name="paid" value="{{_id}}" />
					{{getUsername _id}}
				</label>
			{{/each}}
		</div>
		<div class="span4 form-inline" id="owesField">
			<h4>Split between</h4>
			{{> checkboxUsers}}
		</div>
	</div>
</template>
