<template name="header">
	<div class="row-fluid">
		<div class="header card span12">
			{{#if currentUser}}
				<div class="headerright headerbtns">
					<a href="#" id="inviteBtn"><i class="icon-user icon-white"></i> Invite Friends</a>
				</div>
				<div class="backbtn headerbtns">
					<a href="/" id="backBtn"><i class="icon-arrow-left icon-white"></i> Back to trips</a>
				</div>
				<div class="stats text-right">
					Total spent: ${{total}}<br />
					{{oweGramar me currentUser._id}}
				</div>
			{{/if}}
			<h1 class="bottom">{{title}}</h1>
		</div>
	</div>
</template>