<template name="table">
	{{#if showAll}}
		<a href="#" id="showLess"><i class="icon-minus"></i>Only show expenses involving me</a>
	{{else}}
		<a href="#" id="showMore"><i class="icon-plus"></i>Show all expenses</a>
	{{/if}}
	<table class="table expenseTable">
		<thead>
			<tr>
				<th>Ammount</th>
				<th>Paid by</th>
				<th>Splitting between</th>
				<th>Note</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each allexpenses}}
				{{> expenseRow}}
			{{/each}}
		</tbody>
	</table>
</template>
<template name="expenseRow">
	<tr data-id="{{_id}}">
		<td>${{ammount}}</td>
		<td>{{getUsername payer}}</td>
		<td>
			<div class="owersList">
				{{owersList}}
			</div>
			<div class="form-inline editform">
				{{> checkboxUsers this}}
				<button type="button" class="btn btn-default saveowers">Save</button>
			</div>
		</td>
		<td>{{note}}</td>
		<td><a href="#"><i class="icon-remove"></i></a></td>
	</tr>
</template>
