<template name="trips">
	<div class="row-fluid">
		<ul class="trips span12">
			{{#each userTrips}}
				<li>
					<a href="/{{name}}" class="tripCard card" data-id="{{_id}}">
						<div class="cardTitle">
							{{title}}
						</div>
						<div class="cardInfo">
							{{memberCount}} Members
						</div>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="row-fluid">
		<div class="card span12">
			<input id="titleField" placeholder="Title"/>
			<button id="addTrip" type="button" class="btn btn-primary">Create Trip</button>
		</div>
	</div>
</template>
